[submodule "extras/zsh-syntax-highlighting"]
	path = extras/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "extras/zsh-completions"]
	path = extras/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
